body {
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png");
    background-attachment: fixed;	
    text-align: center;
}

h1 {
	color: gray;
}

a {
	color:	#17a2b8;
}

form {
	margin: 30px;
	text-align: left;

}

.navbar {
	background: #FAFAFA;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2000;
    border-bottom: #454545 2px solid; 
}

.jumbotron {
	margin-top: 80px;
}

.panel {
	margin-top: 30px;
	margin-bottom: 20px;
	border: #454545 2px solid;
	border-radius: 5px; 
	z-index: 100;
}

.panel-heading {
	background: #A3A3A3;
	height: 60px;
	font-size: 24px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
}

.panel-body {
	background: #FAFAFA;
}

#pb-top {
	height: 60px;
	font-size: 24px;
	padding-top: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#pb-bottom {
	font-size: 24px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}